
.indexPage .main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.indexPage .main > *:not(:last-child) {
    padding: .5em;
    display: flex;
    flex-flow: column;
}

.indexPage .main label {
    color: #999;
}

.indexPage .main input {
    border-radius: .25em;
    padding: .5em;
    border: 1px solid #999!important;
}

.indexPage .main input::placeholder {
    color: #999;
}

.indexPage .main button {
    padding: .5em;
    margin: 1em;
    cursor: pointer;
    border: 1px solid #ead7d7;
    border-radius: .25em;
    transition: .25s ease;
}

.indexPage .main button:hover {
    background-color: #ead7d7;
}

.text-red {
    color: #af5b5e;
}