<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>DROM.RU • TODO</title>
		<!-- CSS injection -->
		<% for (var css in htmlWebpackPlugin.files.css) { %>
		<link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
		<% } %>
	</head>
	<body class="indexPage">
		<div id="form" class="todoapp wrapper">
			<header class="header">
				<h1>Вход</h1>
			</header>
			<section class="main">
				<div id="messageBox" class="text-red">

				</div>
				<div>
					<label for="login">Логин</label>
					<input id="login" name="login" placeholder="Введите логин">
				</div>
				<div>
					<label for="password">Пароль</label>
					<input id="password" name="password" type="password" placeholder="Введите пароль" >
				</div>
				<div>
					<button id="signUpButton" data-route="sign" >
						Регистрация
					</button>
					<button id="loginButton" data-route="login">
						Вход
					</button>
				</div>
			</section>
		</div>
		<footer class="info">
			<p>DROM.RU</p>
		</footer>
		<!-- Scripts injection -->
		<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
		<script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
		<% } %>
	</body>
</html>
