<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>DROM.RU • TODO</title>
		<!-- CSS injection -->
		<% for (var css in htmlWebpackPlugin.files.css) { %>
		<link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
		<% } %>
	</head>
	<body>
		<section class="todoapp">
			<header class="header">
				<h1>{{ user.getName }}</h1>
				<input class="new-todo" placeholder="What needs to be done?" autofocus>
			</header>
			<section class="main">
				<input id="toggle-all" class="toggle-all" type="checkbox">
				<label for="toggle-all">Mark all as complete</label>
				<ul class="todo-list" data-todo="{{ user.getTodo.getId }}">
					{% set todo = user.getTodo %}
					{% for item in todo.getTodoItems %}
						<li class="{{ item.getStateName }}"
                            data-item="{{ item.getId }}-{{ item.getTodoId }}-{{ item.getStateId }}-{{ item.getStateName }}">
							<div class="view">
								<input class="toggle" type="checkbox" {{ item.getState == 'completed' ? 'checked' }}>
								<label>{{ item.getContent }}</label>
								<button class="destroy"></button>
							</div>
						</li>
					{% endfor %}
				</ul>
			</section>
			<footer class="footer">
				<span class="todo-count"><strong class="count">{{ todo.getCompletedCount }}</strong> item left</span>
				<ul class="filters">
					<li>
						<a class="selected filter-all" href="#">All</a>
					</li>
					<li>
						<a class="filter-active" href="#">Active</a>
					</li>
					<li>
						<a class="filter-completed" href="#">Completed</a>
					</li>
				</ul>
				<button class="clear-completed">Clear completed</button>
			</footer>
		</section>
		<footer class="info">
			<p>DROM.RU</p>
		</footer>
		<!-- Scripts injection -->
		<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
		<script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
		<% } %>
	</body>
</html>
